*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
header{
    width: 100%;
}
.navbar{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
    margin: 30px 20px;
}
nav img{
    width: 50px;
    margin-right: 10px;
}
nav h2{
    font-size: 36px;
    font-weight: 800;
}
.navbar ul{
    list-style-type: none;
}
.navbar ul a{
    margin-right: 44px;
    font-size: 16px;
    font-weight: 400;
    color: #424247;
    text-decoration: none;
    padding-top: 20px;
}
.navbar ul li i{
    display: none;
}
.banner-section{
    width: 84%;
    height: 500px;
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url("Images/Group\ 13\ \(1\)\ \(1\).png");
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    margin: 20px auto;
}
.banner-section h1{
    padding: 100px 0 15px;
    text-align: center;
    font-size: 60px;
    font-size: 800;
    color: #fff;
}
.banner-section p{
    padding: 15px 0;
    color: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    width: 600px;
    margin: auto;
}
.banner-div{
    background-color: rgba(255, 255, 255, 0.30);
    width: 700px;
    height: 80px;
    margin: 20px auto;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner-div input,button{
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    color: #666;
    border: 0;
    width: 150px;
    background-color: #FFFFFF;
}
.banner-div button{
   display: flex;
   justify-content: space-between; 
}
.btn{
    background-color: #FF5400;
    color: #fff;
    font-size: 16px;
}
.banner-div button.btn{
    display: flex;
    align-items: center;
   justify-content: center;
   gap: 20px;
   padding: 10px;
}

/* main section start */
main{
    width: 82%;
    margin: 30px auto;
}
/* popular section start */
.popular-section{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.popular-section-text{
    width: 48%;
}
.popular-section-text h1{
    font-size: 40px;
    font-weight: 800;
    color: #131318;
    margin: 10px 0;
}
.popular-section-text p{
    font-size: 15px;
    font-weight: 400;
    color: #666;
    line-height: 26px;
    margin: 10px 0;
}
.popular-section-text ul li{
    margin-left: 20px;
    font-size: 16px;
    color: #666;
    line-height: 26px;
    font-weight: 400;
    padding: 10px 0;
}
.btn1{
    background-color: #FF5400;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    padding: 12px 14px;
    margin: 20px 0;
}
.popular-section-img{
    width: 48%;
    margin-top: 10px;
}
.popular-section-img img{
    width: 100%;
}
/* popular places start */

.popular-places{
    width: 100%;
    margin: 30px auto;
}
.popular-places h1{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 20px auto;
    padding-top: 30px;
}
.popular-places p{
    text-align: center;
    font-size: 16px;
    color: #666;
    font-size: 400;
    margin: 20px auto;
    line-height: 26px;
    width: 600px;
}
.popular-places-img{
    padding-top: 30px;
    width: 100%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "img1 img1 img1 img1 img1 img1 img2 img2 img2 img2 img2 img2"
    "img3 img3 img3 img3 img4 img4 img4 img4 img4 img5 img5 img5"
    "img6 img6 img6 img6 img6 img7 img7 img7 img7 img7 img7 img7"
    ;
    gap: 20px;
}
.popular-places-img div{
    position: relative;
}
.popular-places-img div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.popular-places-img div span h3{
    font-size: 26px;
    font-size: 800;
    color: #fff;
}
.popular-places-img div img{
    width: 100%;
    height: 100%;
}
.img1{
 grid-area: img1;
}
.img2{
   grid-area: img2;
}
.img3{
    grid-area: img3;
}
.img4{
    grid-area: img4;
}
.img5{
    grid-area: img5;
}
.img6{
    grid-area: img6;
}
.img7{
    grid-area: img7;
}

/* about section start */
.about-section{
    width: 100%;
    margin: 30px auto;
}
.about-section h1{
    font-size: 40px;
    font-weight: 800;
    margin: 20px auto;
    padding-top: 30px;
    text-align: center;
}
.about-section p{
    font-size: 16px;
    font-weight: 400;
    color: #666;
    line-height: 26px;
    margin: 10px auto;
    text-align: center;
    width: 550px;
}
.about-section-box{
    width: 100%;
    margin: 20px auto;
}
.about-box{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.box1{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);   
    background: rgba(251, 181, 99, 0.05);
    height: 290px;
    margin: 20px 0;
    width: 50%;
}
.box2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    height: 290px;
    margin: 20px 0;
    width: 50%;
}
.box3{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    height: 290px;
    width: 50%;
    margin: 10px auto;
}
.box1 img,.box2 img,.box3 img{
    width: 64px;
    height: 65px;
    margin: 25px 15px 15px;
}
.box1 h2,.box2 h2,.box3 h2{
    font-size: 24px;
    font-weight: 800;
    margin: 10px 20px;
}
.box1 p,.box2 p,.box3 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #5a5a5d;
    width: 90%;
    margin: 20px 20px 0 5px;
}

/* discount section start*/

.discounts-section{
    width: 100%;
    margin: 30px auto;
}
.discounts-section h1{
    font-size: 40px;
    font-weight: 800;
    padding-top: 40px;
    text-align: center;
}
.discounts-section p{
    font-size: 16px;
    color: #5a5a5d;
    width: 550px;
    margin: 20px auto;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

/* about more start */

.about-more{
    width: 100%;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.about-more-text{
    width: 48%;
}
.about-more-text h1{
    font-size: 40px;
    font-weight: 800;
    color: #131318;
    line-height: 55px;
    margin: 10px 0;
    padding-top: 20px;
}
.about-more-text p{
    font-size: 16px;
    font-weight: 400;
    color: #5a5a5d;
    line-height: 26px;
    margin: 20px 0;
}

.about-more-text ul{
    padding: 15px 30px;
}
.about-more-text ul li{
    font-size: 16px;
    margin: 10px 0;
    color: #131318;
    font-weight: 700;
}
.about-more-img{
    padding-top: 20px;
    width: 48%;
}
.about-more-img div{
    position: relative;
}
.about-more-img div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.about-more-img div span h3{
    color: #fff;
    line-height: 30px;
    font-size: 22px;
    font-weight: 700;
}

.about-more-img div img{
    width: 100%;
}


/* responsive for mobile device */
@media screen and (max-width: 600px) {
    .navbar{
        width: 100%;
    }
    nav h2{
        font-size: 22px;
    }
    nav img{
        width: 30px;
    }
    .navbar ul li a{
        display: none;
    }
    .navbar ul li i{
        display: block;
        font-size: 20px;
        margin-right: 20px;
    }
    .banner-section h1{
        font-size: 24px;
        padding-top: 30px;
    }
    .banner-section p{
        font-size: 14px;
        width: 100%;
        padding: 10px;
        line-height: 24px;
    }
    .banner-div{
        flex-direction: column;
        width: 85%;
        height: 250px;
    }
    .banner-div input,button{
        width: 90%;
        margin: auto;
    }
    .banner-div button{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .btn{
        justify-content: center;
        gap: 50px;
    }
    .popular-section{
        flex-direction: column;
    }
    .popular-section-img,.popular-section-text{
        width: 100%;
    }
    .popular-section-text h1{
        font-size: 24px;
    }
    .btn1{
        width: 50%;
    }
    main{
        margin: auto;
    }
    .popular-section{
        padding-top: 20px;
    }
    .popular-places h1{
        font-size: 25px;
        padding-top: 15px;
    }
    .popular-places p{
        width: 90%;
    }
    .popular-places-img{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7,1fr);
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        "img7"
        ;
    }
    .popular-places-img div span h3{
        font-size: 20px;
    }
    .about-section h1{
        font-size: 24px;
    }
    .about-section p{
        width: 90%;
    }
    .about-box{
        flex-direction: column;
    }
    .box1,.box2,.box3,.about-more-img,.about-more-text{
        width: 100%;
    }
    .about-more{
        flex-direction: column-reverse;
    }
    .about-more-text h1{
        font-size: 26px;
        line-height: 30px;
    }
    .about-more-img div span h3{
        font-size: 16px;
    }
}
